/*------------------------------------------------------------------------------------


 =============================================================================
 Filename: _button.scss
 =============================================================================

 Styles should be compiled using gulp task management.
 ----------------------------------------------------------------------------------*/




/* Primary button */
.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;

    a{
        display: inline-block;
        text-transform: uppercase;
        @include primary-font;
        font-size: calc(18px + (23 - 18) * ((100vw - 320px) / (1920 - 320)));
        position: relative;
        padding-bottom: 10px;
        transition: color 0.5s ease;

        &:before{
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #000;
            transition: all 0.5s ease;
        }

        &:hover{
            color: $primary-color;

            &:before{
                background-color: $primary-color;
            }
        }
    }
}

// Secondary button
.btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    .secondary-button{
        width: 175px;
        display: block;
        background-color: #111;
        text-align: center;

        &.el{
            width: 250px;
        }

        .button-bg{
            width: 0%;
            transition: all 0.5s ease;
            background: $primary-color;

            .button{
                display: inline-block;
                background-color: #fff;
                mix-blend-mode: lighten;
                width: 175px;

                &.el{
                    width: 250px;
                }

                a{
                    display: inline-block;
                    text-transform: uppercase;
                    @include primary-font;
                    font-size: calc(18px + (23 - 18) * ((100vw - 320px) / (1920 - 320)));
                    position: relative;
                    padding-bottom: 10px;
                    transition: color 0.5s ease;

                    &:before{
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: #000;
                        transition: all 0.5s ease;
                    }

                }
            }
        }

        &:hover{
            .button-bg{
                width: 100%;
            }
        }
    }
}


  /* hover underline */

  @mixin button-hover-border{

      position: relative;

      &:after{
          content: "";
          width: 0%;
          height: 1px;
          position: absolute;
          bottom: -2px;
          left: 50%;
          transform: translateX(-50%);
          transform-origin: center;
          transition: all 0.5s ease;
      }

      &:hover{
          &:after{
              width: 100%;
              background-color: #fff;
          }
      }
  }


  /* Cta Btn Css */
  .cta-btn {
    color: #fff;
    width: fit-content;
    border: 1px solid #fff;
    padding: 8px 18px;
    border-radius: 50px;
    background: transparent;
    transition: all 0.3s ease;
    text-transform: capitalize;

    &:hover {
        background: #fff;
        color: $secondary-color;

        svg {
            transform: scaleX(1.26);
        }
    }
}
