/*------------------------------------------------------------------------------------
 @package: Olive Green Hotel Custom Web Design/Development by WD
 @author: Zack / Vasilis / Eleni
 @olivegreenhotel.com
 @copyright: Copyright 2023 - Web Dynamic Greece / Asia

 =============================================================================
 Filename: _flex.scss
 =============================================================================

 Styles should be compiled using gulp task management.
 ----------------------------------------------------------------------------------*/


// flex center
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Flex by its class */
.flexCenter{
    @include flexCenter;
}