/*------------------------------------------------------------------------------------
 @package: Little Train Tours Custom Web Design/Development by WD
 @author: Zack / Vasilis / Eleni
 @www.littletraintours.gr
 @copyright: copyright 2022 - Web Dynamic Greece / Asia

 =============================================================================
 Filename: _request-form.scss
 =============================================================================

 Styles should be compiled using gulp task management..
 ----------------------------------------------------------------------------------*/

// pickup point style
.pickup-point{
    text-align: center;
    margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
    font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1920 - 320)));

    .pick-up-title{
        color: #3a3a3a;
        font-weight: 500;
    }

    span{
        display: block;
        font-weight: 400;
        font-size: 80%;
        margin-top: 10px;
    }
    a{
        color: #000;
        text-decoration: underline;
    }
}


.request-offer-form{
    max-width: 720px;
    width: 100%;
    margin: 0 auto calc(30px + (80 - 30) * ((100vw - 320px) / (1920 - 320)));
    padding: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    margin-top: calc(30px + (70 - 30) * ((100vw - 320px) / (1920 - 320)));
    background-color: #fff;
    position: relative;
    margin-top: 180px; /* temp */

    @include max-width-1023{
        max-width: calc(960px - 10%);
        width: calc(100% - 10%);
    }
    

    label{
        display: block;
        font-weight: 500;
        font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1920 - 320)));
        text-align: left;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 10px;

        span{
            font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320)));
        }
    }
    input, textarea, .trigger, select{
        max-width: 100%;
        width: 100%;
        outline: none;
        appearance: none;
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
        border: 1px solid #ccc;
        font-weight: 400;      
        padding: calc(5px + (5 - 5) * ((100vw - 320px) / (1920 - 320))) 0px;
        padding-right: 25px;
        color: #222;
        height: 45px;
        background-color: #f1f1f1;
        @include primary-font;

        padding-left: 50px; /* temp */  
    }

    .radio-column{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        gap: 37px;
        background-color: #f1f1f1;
        margin-bottom: 5px;

        .trip-type{
            display: flex;
            align-items: center;
            gap: 25px;

            label{
                width: auto;
                margin-bottom: 0;
            }
            
            input{
                appearance: auto;
                height: auto;
                width: auto;
            }
        }
    }
    textarea{
        border: 1px solid #ccc;
        padding: calc(8px + (15 - 8) * ((100vw - 320px) / (1920 - 320)));
        height: 100px;
    }

    .column-3{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: calc(8px + (15 - 8) * ((100vw - 320px) / (1920 - 320)));

        

        @include phone-767{
            grid-template-columns: 1fr;
        }
    }

    .column-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-gap: 30px; */
        grid-gap: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: calc(8px + (15 - 8) * ((100vw - 320px) / (1920 - 320)));

        @include phone-601{
            grid-template-columns: 1fr;
        }
    }
    .column-1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .custom-input{
            width: 100%;
            margin-bottom: calc(8px + (15 - 8) * ((100vw - 320px) / (1920 - 320)));
        }
    }
    .hide{
        display: none;
    }
    .custom-input{
        position: relative;

        .input-icon{
            position: absolute;
            right: 10px;
            bottom: 8px;
            pointer-events: none;
            width: 25px;
            height: 25px;
        }
        .icon-start {
            position: absolute;
            left: 10px;
            top: 57%;
            pointer-events: none;
            width: 25px;
            height: 25px;
            z-index: 1;
        }

    }
    #submit{
        max-width: fit-content;
        text-transform: uppercase;
        text-align: center;
        border: 0;
        background-color: #000;
        margin: 30px auto 0px;
        color: #fff;
        line-height: 1;
        padding: calc(12px + (15 - 12) * ((100vw - 320px) / (1920 - 320))) calc(18px + (25 - 18) * ((100vw - 320px) / (1920 - 320)));
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.5s ease;
        font-weight: 500;


        &:hover{
            background-color: #000;
        }
    }

    .google-recaptcha{
        margin: 20px 0 0;
        text-align: center;

        .g-recaptcha{
            margin-top: 30px;
        }

        #captcha_error{
            color: #ff0000;
            font-size: inherit;
            font-weight: inherit;
            height: 27px;
        }
        
    }
    .cruisesCheckbox{
        display: flex;
        align-items: center;
        gap: calc(8px + (15 - 8) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: calc(8px + (15 - 8) * ((100vw - 320px) / (1920 - 320)));
        height: 50px;
        .check{
            width: fit-content;
            display: inline-block;
        }
        input{
            width: 20px;
            height: 20px;
            appearance: initial;
            border: 0;
            cursor: pointer;
        }
    }

    /* Success messgae */
    #message{
        text-align: center;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        margin: 0;
        bottom: 210px;
        width: 100%;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        margin: 0;
        bottom: calc(175px + (195 - 175) * ((100vw - 320px) / (1920 - 320)));
        width: 100%;

        @include phone-767{
            bottom: 160px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        fieldset{
            border: 0;
        }

        &.success-box{
            position: relative;
            bottom: 0;
            left: 0;
            transform: translate(0);
            height: auto;
        }
        .success{
            font-size: calc(26px + (36 - 26) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 400;
            color: #209320;
            line-height: 1.2;
        
        }
        .success-thank{
            font-weight: 400;
            font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
            line-height: 1.2;
            display: block;
            margin: 20px 0;
        }
        .success-spam{
            color: #d14848;
            font-weight: 400;
            display: block;
        }
        .error_message{
            color: #d14848;
            line-height: 1.2;
        }
    }
    
}


/* datepicker style */
    #ui-datepicker-div {
        z-index: 9999999999 !important;
        max-width: 330px;
    }
    .ui-datepicker .ui-datepicker-header {
        background: #222;
    }
    .ui-datepicker .ui-datepicker-title{
        color: #fff;
    }
    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        border: 1px solid teal !important;
        background-color: teal !important;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        background: #333 !important;
    }
    
    .ui-widget-header {
        border: 1px solid $primary-color;
        color: #ffffff;
        background: $primary-color;
    }
    
    a.ui-state-default.ui-state-active {
        background: #222;
        color: #fff !important;
        border-color: #222 !important;
        text-align: center;
    }
    
    .ui-datepicker-next.ui-corner-all::before {
        content: "";
        background: url(../assets/icons/right-arrow.svg) no-repeat;
        background-size: contain;
        background-position: 50%;
        width: 17px;
        height: 17px;
        font-size: 1.25em;
        right: 10px;
        left: auto;
        position: absolute;
        top: 9px;
    }
    
    .ui-datepicker-prev.ui-corner-all:before {
        content: "";
        left: 9px;
        background: url(../assets/icons/left-arrow.svg) no-repeat;
        background-size: contain;
        background-position: 50%;
        width: 17px;
        height: 17px;
        position: absolute;
        top: 9px;
        font-size: 1.25em;
    }
    
    .ui-datepicker .ui-datepicker-title {
        margin: 0 2.3rem;
        line-height: 1.8rem;
        text-align: center;
        font-weight: 500;
        font-size: 1.2rem;
    }
    
    .ui-datepicker table {
        width: 100%;
        /* font-size: .9rem; */
        border-collapse: collapse;
        margin: 0 0 0.6rem;
        font-weight: 400 !important;
    }
    
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
    html .ui-button.ui-state-disabled:hover,
    html .ui-button.ui-state-disabled:active {
        border: 1px solid #f2f5f7;
        background: $primary-color;
        font-weight: 400;
        color: #ffffff !important;
        font-size: 1.2rem;
        text-align: center;
    }
    
    .ui-datepicker td span,
    .ui-datepicker td a {
        display: block;
        padding: 0.3rem;
        text-align: right;
        text-decoration: none;
    }
    
    .ui-widget.ui-widget-content {
        border: 1px solid #a7a7a7;
    }
    
    .row.custom-row:hover .custom-column {
        z-index: 1;
    }


    /* Timepicker  */
    .mdtp__wrapper[data-theme='blue'] .mdtp__time_holder, .mdtp__wrapper[data-theme='blue'] .mdtp__digit.active span, .mdtp__wrapper[data-theme='blue'] .mdtp__clock .mdtp__digit:not(.digit--disabled) span:hover, .mdtp__wrapper[data-theme='blue'] .mdtp__digit.active:before,.mdtp__wrapper[data-theme='blue'] .mdtp__clock .mdtp__clock_dot{
        background-color: #907446 !important;
    }
    .mdtp__wrapper[data-theme='blue'] .mdtp__button{
        color: #907446;
    }

    .cursor-pointer{
        cursor: pointer;
    }
    select{
        cursor: pointer;
    }

.request-offer-form{
    &.el{
        ::placeholder{
            font-size: 13px;
        }
    }
}
    