/*------------------------------------------------------------------------------------
 @package: xplozz Custom Web Design/Development by Abdullah al Turky
 @author: Abdullah al Turky
 @http://xplozz.com/
 @copyright: Copyright 2023 - Abdullah al Turky

 =============================================================================
 Filename: 404.scss
 =============================================================================

 Styles should be compiled using npm task management.
 ----------------------------------------------------------------------------------*/

