/*------------------------------------------------------------------------------------
 @package: Olive Green Hotel Custom Web Design/Development by WD
 @author: Zack / Vasilis / Eleni
 @olivegreenhotel.com
 @copyright: Copyright 2023 - Web Dynamic Greece / Asia

 =============================================================================
 Filename: _services.scss
 =============================================================================

 Styles should be compiled using gulp task management.
 ----------------------------------------------------------------------------------*/

