/*------------------------------------------------------------------------------------
 @package: Olive Green Hotel Custom Web Design/Development by WD
 @author: Zack / Vasilis / Eleni
 @olivegreenhotel.com
 @copyright: Copyright 2023 - Web Dynamic Greece / Asia

 =============================================================================
 Filename: _contact.scss
 =============================================================================

 Styles should be compiled using gulp task management.
 ----------------------------------------------------------------------------------*/

   /* Contact Inner Style
====================== */

    .contact-form-block{
        .wd-container{
            @include phone-480{
              padding: 0 4%;
            }
        }
    }
    .grid-wrap {
        display: grid;
        grid-template-columns: auto 60%;
        grid-gap: calc(30px + (80 - 30) * ((100vw - 320px) / (1920 - 320)));
        margin-top: calc(30px + (80 - 30) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: calc(30px + (80 - 30) * ((100vw - 320px) / (1920 - 320)));
        align-items: center;

        @include max-width-1023{
            display: block;
        }

        @incldue phone-767{
            display: flex;
        }

        .contact-form-wrapper{

            .secondary-title{
                text-align-last: left;
                margin-bottom: 45px;
            }

            .contact-form-title{
                @include secondary-title;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: calc(25px + (45 - 25) * ((100vw - 320px) / (1920 - 320)));
            }

            .contact-box{
                //background-color: #fff;
                padding: calc(15px + (60 - 15) * ((100vw - 320px) / (1920 - 320)));
                position: relative;
                border: 1px solid $primary-color;
                border-radius: 10px;
            }

            .custom-input{
                margin-bottom: 15px;

                &.grid-col-2{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 25px;

                    @include phone-767{
                        grid-template-columns: auto;
                    }
                }
                .input-box{
                    position: relative;

                    label{
                        left: 0px;
                        position: relative;
                        top: 40px;
                        width: 100%;
                        z-index: 2;
                        transition: all 0.5s ease;

                        &.focused{
                            top: 0;
                            left: 0;
                            font-weight: 600;
                        }
                    }
                }

                .sent_wrap{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320)));

                    @include phone-767{
                        flex-direction: column;

                        .g-recaptcha {
                            margin-top: 35px;
                        }
                    }

                    #btn_sent{
                        border: 0;
                        background-color: #000;
                        text-align: center;
                        padding: 15px 30px;
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 18px;
                        cursor: pointer;

                        @include phone-767{
                            margin-top: 20px;
                        }
                    }
                }
            }

            .input-field{
                width: 100%;
                border: none;
                outline: none;
                background: #efefef;
                font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1920 - 320)));
                @include primary-font;
                //padding: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
                position: relative;
                border-bottom: 1px solid #ccc;
                padding: 10px 15px;
                background-color: transparent;
                padding-left: 0;

                &:focus + label{
                    top: 0;
                }
            }

            .textarea-field{
                width: 100%;
                border: none;
                outline: none;
                background: #efefef;
                font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (1920 - 320)));
                @include primary-font;
                //padding: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
                height: calc(120px + (180 - 120) * ((100vw - 320px) / (1920 - 320)));
                padding: 10px 15px;
                border-bottom: 1px solid #ccc;
                background-color: transparent;
                padding-left: 0;
            }

        }

        .address-wrap{
            display: flex;
            flex-direction: column;

            .contact-address-title{
                @include secondary-title;
                color: #000;
                text-transform: uppercase;
                margin-bottom: calc(25px + (45 - 25) * ((100vw - 320px) / (1920 - 320)));
            }

            .address {
                display: flex;
                flex-direction: column;

                &:not(:last-child){
                    margin-bottom: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
                }
            }

            .address-grid{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                height: 100%;

                .single-bird{
                    @include smartPhone_portrait{
                        display: none;
                    }
                }

                .grid-col{
                    width: 100%;
                }
            }
        }
    }

    .title-border{
        position: relative;
        display: inline-block;
        width: fit-content;

        &:before{
            position: absolute;
            content: '';
            bottom: -10px;
            left: 0;
            width: 150%;
            height: 2px;
            background-color: #000;

            @include desktop-1230{
                width: 120%;
            }

            @include phone-767{
                width: 120%;
            }
        }
    }


/* Contact success message 
------------------------------*/

#message{
    position: absolute;
    bottom: calc(140px + (160 - 140) * ((100vw - 320px) / (1920 - 320)));
    width: 100%;
    text-align: right;
    left: 0;
    font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1920 - 320)));
    color: #cf2828;
    line-height: 1.1;
    padding-right: calc(15px + (60 - 15) * ((100vw - 320px) / (1920 - 320)));

    @include phone-767{
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 190px;
        padding: 0 15px;
        text-align: center;
    }

    &.success-box{
        position: relative;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    fieldset {
        border: 0;
    }
                    
    .success{
        font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1920 - 320)));
        color: #198b19;
        font-weight: normal;
    }
    .success-thank{
        font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1920 - 320)));
        margin: 20px auto;
        color: #222;
        font-weight: normal;
        line-height: 1.2;
    }
    .success-spam {
        color: #d14848;
        font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1920 - 320)));
        padding-top: 0px;
        font-weight: normal;
        line-height: 1.2;
    }
    #success_page {
        text-align: center;
    }
}

/* Map Section Style
==================== */
.map-section{
    height: 100%;
    width: 100%;
    margin-top: calc(25px + (45 - 25) * ((100vw - 320px) / (1920 - 320)));

    @include max-width-1023{
        height: calc(200px + (300 - 200) * ((100vw - 320px) / (1023 - 320)));
    }

    iframe{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
    }
}


// Header
.contact-details{
    margin-top: 120px;

    @include phone-767{
        margin-top: 40px;
    }

    .grid{
        display: grid;
        grid-template-columns: 40% 1fr;
        align-items: center;

        @include phone-767{
            grid-template-columns: auto;
        }

        .single-bird{
            img{
                position: relative;
                z-index: 1;
            }
        }

        .contact-wrap{
            padding-left: 120px;

            @include smartPhone_portrait{
                padding-left: 40px;
            }

            @include phone-767{
                padding-left: 0;
                order: 2;
                margin-top: 40px;
            }

            .secondary-title{
                text-align-last: left;
                margin-bottom: 45px;
            }
            .contacts{
                max-width: 100%;
                align-items: flex-start;
            }
        }

        .con-col{
            max-width: 560px;
            width: 100%;

            &.single-bird{
                min-width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .circle-yellow{
                    left: 40%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}